# Search & APIs
duckduckgo-search>=8.1.1
tavily-python>=0.7.24
ddgs>=9.14.1

# AI Models
google-genai>=1.73.1
groq>=1.2.0
mistralai>=2.4.4

# Database & Environment
supabase>=2.29.0
python-dotenv>=1.2.2
requests>=2.33.1

# Data Analysis & Visuals
streamlit>=1.56.0
pandas
plotly>=6.7.0
openpyxl>=3.1.5
yfinance>=1.3.0
scikit-learn>=1.8.0
scipy>=1.17.1

# Scheduling
schedule>=1.2.2